.section {
  background: radial-gradient(
    75.42% 45.42% at 50% 0,
    rgb(41, 41, 41) 0,
    hsla(0, 0%, 0%, 0) 100%
  );
  width: 100%;
  height: 500px;

  padding-top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
