.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 10px 30px;

  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  height: 30%;
}
.logo:hover {
  cursor: pointer;
}
.icon {
  width: 70px;
  height: 70px;
}
.iconImage {
  width: 45px;
  height: 45px;
}

.name {
  letter-spacing: 2px;
  font-size: 30px;

  color: white;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.lora-navbar {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.lora-texts {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navPages {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.meeting {
  display: flex;
  column-gap: 8px;
  height: 40px;
  font-size: 14px;
  align-items: center;
  padding: 25px;
  background-color: #222;
  border-radius: 20px;
  border: 1px solid #222;
}

.meeting:hover {
  background-color: #333;
  cursor: pointer;
}

.portfolio {
  display: flex;
  column-gap: 8px;
  height: 40px;
  font-size: 14px;
  align-items: center;
  padding: 25px;
  background-color: #222;
  border-radius: 20px;
  border: 1px solid #222;
}
.portfolio:hover {
  background-color: #333;
  cursor: pointer;
}

.active {
  border: 1px solid #2e88f6;
}
.logoRight {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  height: 30%;
  background-color: #222;
  padding: 8px;
  border-radius: 25px;
}

.iconImageRight {
  width: 30px;
  height: 30px;
}

.logoRight:hover {
  background-color: #333;
  cursor: pointer;
}
